/*Media for different size screens*/

/* Small Phones (Portrait) Max-width: 320px
    Recommended sizes:
      Font size: 12px - 14px
      Padding: 5px - 10px
      Image width: 100% of the container*/
      @media(max-width:320px){
        .header-text{
          height:100px;
          font-size: 24px;
          place-content: center;
          }
        .Self-image{
          align-items: center; 
          justify-content: center;
          margin: 0 auto;
          margin-top: 25%;
        }
        .introduction{
          margin-left: 0%;
          margin-right: 0%;
          padding: 7px;
          font-size: 13px;
        }
        .education-item{
          animation: appear-left linear forwards;
          animation-timeline: view();
          animation-range: entry 0 cover 30%;
          padding: 7px;
          font-size: 13px;
        }
        @keyframes appear-left{
          from{
              opacity: 0;
              transform: translateX(-150px);
          }
          to {
             opacity: 1;
             transform: translateX(15px);
          }
        }
        .container-grade{
          position: relative;
          margin-top: 50%;
          width: 40%;
        }
        .experience-container{
          flex-direction: column;
          padding: 7px;
          h5{
            margin-left: 10px;
          }
          p{
          margin-left: 10px;
          font-size: 13px;
          }
        }  
      }


/*Small to Medium Phones (Portrait) Max-width: 375px (e.g., iPhone 12 Mini)
    Recommended sizes:
      Font size: 14px - 16px
      Padding: 10px - 15px
      Image width: 100% of the container*/
      @media(max-width:375px){
        .header-text{
          height:100px;
          font-size: 24px;
          place-content: center;
          }
        .Self-image{
          align-items: center; 
          justify-content: center;
          margin: 0 auto;
          margin-top: 25%;
        }
        .introduction{
          margin-left: 0%;
          margin-right: 0%;
          padding: 13px;
          font-size: 15px;
        }
        .education-item{
          animation: appear-left linear forwards;
          animation-timeline: view();
          animation-range: entry 0 cover 30%;
          padding: 13px;
          font-size: 15px;
        }
        @keyframes appear-left{
          from{
              opacity: 0;
              transform: translateX(-150px);
          }
          to {
             opacity: 1;
             transform: translateX(15px);
          }
        }
        .container-grade{
          position: relative;
          margin-top: 50%;
          width: 40%;
        }
        .experience-container{
          flex-direction: column;
          padding: 13px;
          h5{
            margin-left: 10px;
          }
          p{
          margin-left: 10px;
          font-size: 15px;
          }
        }  
      }


/*Medium Phones (Portrait) Max-width: 425px (e.g., Google Pixel 5, iPhone 12/13)
    Recommended sizes:
      Font size: 16px - 18px
      Padding: 15px - 20px
      Image width: 100% of the container*/
      @media(max-width:425px){
        .header-text{
          height:100px;
          font-size: 24px;
          place-content: center;
          }
        .Self-image{
          align-items: center; 
          justify-content: center;
          margin: 0 auto;
          margin-top: 25%;
        }
        .introduction{
          margin-left: 0%;
          margin-right: 0%;
          padding: 18px;
          font-size: 17px;
        }
        .education-item{
          animation: appear-left linear forwards;
          animation-timeline: view();
          animation-range: entry 0 cover 30%;
          padding: 18px;
          font-size: 17px;
        }
        @keyframes appear-left{
          from{
              opacity: 0;
              transform: translateX(-150px);
          }
          to {
             opacity: 1;
             transform: translateX(15px);
          }
        }
        .container-grade{
          position: relative;
          margin-top: 50%;
          width: 40%;
        }
        .experience-container{
          flex-direction: column;
          padding: 18px;
          h5{
            margin-left: 10px;
          }
          p{
          margin-left: 10px;
          font-size: 17px;
          }
        }  
      }

/*Large Phones / Small Tablets (Portrait) Max-width: 768px (e.g., iPad Mini, iPad in Portrait Mode)
    Recommended sizes:
      Font size: 18px - 20px
      Padding: 20px - 30px
      Image width: 100% of the container*/
      @media(max-width:768px){
        .header-text{
          height:100px;
          font-size: 24px;
          place-content: center;
          }
        .Self-image{
          align-items: center; 
          justify-content: center;
          margin: 0 auto;
          margin-top: 25%;
        }
        .introduction{
          margin-left: 0%;
          margin-right: 0%;
          padding: 25px;
          font-size: 19px;
        }
        .education-item{
          animation: appear-left linear forwards;
          animation-timeline: view();
          animation-range: entry 0 cover 30%;
          padding: 25px;
          font-size: 19px;
        }
        @keyframes appear-left{
          from{
              opacity: 0;
              transform: translateX(-150px);
          }
          to {
             opacity: 1;
             transform: translateX(15px);
          }
        }
        .container-grade{
          position: relative;
          margin-top: 50%;
          width: 40%;
        }
        .experience-container{
          flex-direction: column;
          padding: 25px;
          h5{
            margin-left: 10px;
          }
          p{
          margin-left: 10px;
          font-size: 19px;
          }
        }  
      }


/*Small Tablets (Landscape) Max-width: 1024px (e.g., iPad in Landscape Mode)
    Recommended sizes:
      Font size: 20px - 22px
      Padding: 25px - 35px
      Image width: 100% of the container*/
      @media(max-width:1024px){
        .header-text{
          height:100px;
          font-size: 24px;
          place-content: center;
          }
        .Self-image{
          align-items: center; 
          justify-content: center;
          margin: 0 auto;
          margin-top: 25%;
        }
        .introduction{
          margin-left: 0%;
          margin-right: 0%;
          padding: 25px;
          font-size: 21px;
        }
        .education-item{
          animation: appear-left linear forwards;
          animation-timeline: view();
          animation-range: entry 0 cover 30%;
          padding: 25px;
          font-size: 21px;
        }
        @keyframes appear-left{
          from{
              opacity: 0;
              transform: translateX(-150px);
          }
          to {
             opacity: 1;
             transform: translateX(15px);
          }
        }
        .container-grade{
          position: relative;
          margin-top: 50%;
          width: 40%;
        }
        .experience-container{
          flex-direction: column;
          padding: 25px;
          h5{
            margin-left: 10px;
          }
          p{
          margin-left: 10px;
          font-size: 21px;
          }
        }  
      }



/* Mobile  ranging from 360×640 to 414×896. */
  @media(max-width:600px){
    .header-text{
      height:100px;
      font-size: 24px;
      place-content: center;
      }
    .Self-image{
      align-items: center; 
      justify-content: center;
      margin: 0 auto;
      margin-top: 25%;
    }
    .introduction{
      margin-left: 0%;
      margin-right: 0%;
      font-size: 15px;
    }
    .education-item{
      animation: appear-left linear forwards;
      animation-timeline: view();
      animation-range: entry 0 cover 30%;
      font-size: 15px;
    }
    @keyframes appear-left{
      from{
          opacity: 0;
          transform: translateX(-150px);
      }
      to {
         opacity: 1;
         transform: translateX(15px);
      }
    }
    .container-grade{
      position: relative;
      margin-top: 50%;
      width: 40%;
    }
    .experience-container{
      flex-direction: column;
      padding: 0;
      h5{
        margin-left: 10px;
      }
      p{
      margin-left: 10px;
      font-size: 15px;
      }
    }  
  }



/* Tablet  ranging from 601×962 to 1280×800. */
  @media(min-width:601px){
    .header-text{
      height: 200px;
      font-size: 29px;
      opacity: 0.8;
      animation: fade-in-out linear forwards;
      animation-timeline: view();
      animation-range: exit;
    }
    @keyframes fade-in-out{
      25%{opacity: 1;}
      85%, 100% {opacity: 0;}
    }
    .Self-image{
      align-items: center; 
      justify-content: center;
      margin: 0 auto;
      margin-top: 18rem;
    }
    .introduction{
      margin-left: 10%; 
      margin-right: 10%;
      font-size: 15px;
    }
    .education-item{
      animation: appear-left linear forwards;
      animation-timeline: view();
      animation-range: entry 0 cover 30%;
      font-size: 15px;
    }
    @keyframes appear-left{
      from{
          opacity: 0;
          transform: translateX(-100px);
      }
      to {
         opacity: 1;
         transform: translateX(50px);
      }
    }
    .container-grade{
      position: relative;
      margin-top: 10%;
      width: 35%;
    }
    .experience-container{
      flex-direction: column;
      padding: 0;
      h5{
        margin-left: 10px;
      }
      p{
        margin-left: 10px;
        font-size: 15px;
      }
    }
  }


/* Computer ranging from 1280×720 to 1920×1080 */
  @media(min-width:1301px){
    .header-text{
      place-content: center;
      position: relative;
      height: 300px;
      font-size: 45px;
      animation: fade-in-out linear forwards;
      animation-timeline: view();
      animation-range: exit;
    }
    @keyframes fade-in-out{
      25%{opacity: 1;}
      85%, 100% {opacity: 0;}
    }
    .Self-image{
      align-items: center; 
      justify-content: center;
      margin: 0 auto;
      margin-top: 30%;
    }
    .introduction{
      margin-left: 20%;
      margin-right: 20%;
      font-size: 20px;
    }
    .education-item{
      animation: appear-left linear forwards;
      animation-timeline: view();
      animation-range: entry 0 cover 40%;
      font-size: 20px;
    }
    @keyframes appear-left{
      from{
          opacity: 0;
          transform: translateX(-100px);
      }
      to {
         opacity: 1;
         transform: translateX(50px);
      }
    }
    .container-grade{
      position: relative;
      margin-top: 10%;
      width: 50%;
    }
    .experience-container{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      h5{
        margin-left: 10px;
      }
      p{
        margin-left: 10px;
        font-size: 20px;
      }
    }
    }