/*Media for different size screens
all media tags are the same but sizes are adjusted for the different viewscreen*/

/* Small Phones (Portrait) Max-width: 320px
    Recommended sizes:
      Font size: 12px - 14px
      Padding: 5px - 10px
      Image width: 100% of the container*/
      @media(max-width:320px){
        .header-text{           /*RESUME NOELLE DE VRIES TEXT*/
          height:100px;
          font-size: 24px;
          place-content: center;
          }
        .Self-image{            /*SELFIE IMAGE*/
          align-items: center; 
          justify-content: center;
          margin: 0 auto;
          margin-top: 25%;
        }
        .introduction{          /*ABOUT ME SECTION*/
          margin-left: 0%;
          margin-right: 0%;
          padding: 7px;
          font-size: 13px;
        }
        .experience-container{    /*WORK EXPERIANCE I HAVE*/
          flex-direction: column;
          padding: 7px;
          h5{
            margin-left: 10px;
          }
          p{
          margin-left: 10px;
          font-size: 13px;
          }
        }
        .contact{             /*PICTURES WITH LINKS TO SOME SOCIALS*/
          padding: 7px;
        }  
      }


/*Small to Medium Phones (Portrait) Max-width: 375px (e.g., iPhone 12 Mini)
    Recommended sizes:
      Font size: 14px - 16px
      Padding: 10px - 15px
      Image width: 100% of the container*/
      @media(max-width:375px){
        .header-text{           /*RESUME NOELLE DE VRIES TEXT*/
          height:100px;
          font-size: 24px;
          place-content: center;
          }
        .Self-image{            /*SELFIE IMAGE*/
          align-items: center; 
          justify-content: center;
          margin: 0 auto;
          margin-top: 25%;
        }
        .introduction{          /*ABOUT ME SECTION*/
          margin-left: 0%;
          margin-right: 0%;
          padding: 13px;
          font-size: 15px;
        }
        .experience-container{    /*WORK EXPERIANCE I HAVE*/
          flex-direction: column;
          padding: 13px;
          h5{
            margin-left: 10px;
          }
          p{
          margin-left: 10px;
          font-size: 15px;
          }
        }
        .contact{             /*PICTURES WITH LINKS TO SOME SOCIALS*/
          padding: 13px;
        }
      }


/*Medium Phones (Portrait) Max-width: 425px (e.g., Google Pixel 5, iPhone 12/13)
    Recommended sizes:
      Font size: 16px - 18px
      Padding: 15px - 20px
      Image width: 100% of the container*/
      @media(max-width:425px){
        .header-text{           /*RESUME NOELLE DE VRIES TEXT*/
          height:100px;
          font-size: 24px;
          place-content: center;
          }
        .Self-image{            /*SELFIE IMAGE*/
          align-items: center; 
          justify-content: center;
          margin: 0 auto;
          margin-top: 25%;
        }
        .introduction{          /*ABOUT ME SECTION*/
          margin-left: 0%;
          margin-right: 0%;
          padding: 18px;
          font-size: 17px;
        }
        .experience-container{    /*WORK EXPERIANCE I HAVE*/
          flex-direction: column;
          padding: 18px;
          h5{
            margin-left: 10px;
          }
          p{
          margin-left: 10px;
          font-size: 17px;
          }
        }
        .contact{             /*PICTURES WITH LINKS TO SOME SOCIALS*/
          padding: 18px;
        }  
      }

/*Large Phones / Small Tablets (Portrait) Max-width: 768px (e.g., iPad Mini, iPad in Portrait Mode)
    Recommended sizes:
      Font size: 18px - 20px
      Padding: 20px - 30px
      Image width: 100% of the container*/
      @media(max-width:768px){
        .header-text{           /*RESUME NOELLE DE VRIES TEXT*/
          height:100px;
          font-size: 24px;
          place-content: center;
          }
        .Self-image{            /*SELFIE IMAGE*/
          align-items: center; 
          justify-content: center;
          margin: 0 auto;
          margin-top: 25%;
        }
        .introduction{          /*ABOUT ME SECTION*/
          margin-left: 0%;
          margin-right: 0%;
          padding: 25px;
          font-size: 19px;
        }
        .experience-container{    /*WORK EXPERIANCE I HAVE*/
          flex-direction: column;
          padding: 25px;
          h5{
            margin-left: 10px;
          }
          p{
          margin-left: 10px;
          font-size: 19px;
          }
        }
        .contact{             /*PICTURES WITH LINKS TO SOME SOCIALS*/
          padding: 25px;
        }  
      }


/*Small Tablets (Landscape) Max-width: 1024px (e.g., iPad in Landscape Mode)
    Recommended sizes:
      Font size: 20px - 22px
      Padding: 25px - 35px
      Image width: 100% of the container*/
      @media(max-width:1024px){
        .header-text{           /*RESUME NOELLE DE VRIES TEXT*/
          height:100px;
          font-size: 24px;
          place-content: center;
          }
        .Self-image{            /*SELFIE IMAGE*/
          align-items: center; 
          justify-content: center;
          margin: 0 auto;
          margin-top: 25%;
        }
        .introduction{          /*ABOUT ME SECTION*/
          margin-left: 0%;
          margin-right: 0%;
          padding: 25px;
          font-size: 21px;
        }
        .experience-container{    /*WORK EXPERIANCE I HAVE*/
          flex-direction: column;
          padding: 25px;
          h5{
            margin-left: 10px;
          }
          p{
          margin-left: 10px;
          font-size: 21px;
          }
        }
        .contact{             /*PICTURES WITH LINKS TO SOME SOCIALS*/
          padding: 25px;
        }  
      }



/* Mobile  ranging from 360×640 to 414×896. */
  @media(max-width:600px){
    .header-text{           /*RESUME NOELLE DE VRIES TEXT*/
      height:100px;
      font-size: 24px;
      place-content: center;
      }
    .Self-image{            /*SELFIE IMAGE*/
      align-items: center; 
      justify-content: center;
      margin: 0 auto;
      margin-top: 25%;
    }
    .introduction{          /*ABOUT ME SECTION*/
      margin-left: 0%;
      margin-right: 0%;
      font-size: 15px;
    }
    .experience-container{    /*WORK EXPERIANCE I HAVE*/
      flex-direction: column;
      padding: 0;
      h5{
        margin-left: 10px;
      }
      p{
      margin-left: 10px;
      font-size: 15px;
      }
    }
    .contact{             /*PICTURES WITH LINKS TO SOME SOCIALS*/
      padding: 7px;
    }  
  }



/* Tablet  ranging from 601×962 to 1280×800. */
  @media(min-width:601px){
    .header-text{           /*RESUME NOELLE DE VRIES TEXT*/
      height: 200px;
      font-size: 29px;
      opacity: 0.8;
      animation: fade-in-out linear forwards;
      animation-timeline: view();
      animation-range: exit;
    }
    @keyframes fade-in-out{
      25%{opacity: 1;}
      85%, 100% {opacity: 0;}
    }
    .Self-image{            /*SELFIE IMAGE*/
      align-items: center; 
      justify-content: center;
      margin: 0 auto;
      margin-top: 18rem;
    }
    .introduction{          /*ABOUT ME SECTION*/
      margin-left: 10%; 
      margin-right: 10%;
      font-size: 15px;
    }
    .experience-container{    /*WORK EXPERIANCE I HAVE*/
      flex-direction: column;
      padding: 0;
      h5{
        margin-left: 10px;
      }
      p{
        margin-left: 10px;
        font-size: 15px;
      }
    }
    .contact{             /*PICTURES WITH LINKS TO SOME SOCIALS*/
      padding: 15px;
    }
  }


/* Computer ranging from 1280×720 to 1920×1080 */
  @media(min-width:1301px){
    .header-text{           /*RESUME NOELLE DE VRIES TEXT*/
      place-content: center;
      position: relative;
      height: 300px;
      font-size: 45px;
      animation: fade-in-out linear forwards;
      animation-timeline: view();
      animation-range: exit;
    }
    @keyframes fade-in-out{
      25%{opacity: 1;}
      85%, 100% {opacity: 0;}
    }
    .Self-image{            /*SELFIE IMAGE*/
      align-items: center; 
      justify-content: center;
      margin: 0 auto;
      margin-top: 30%;
    }
    .introduction{          /*ABOUT ME SECTION*/
      margin-left: 20%;
      margin-right: 20%;
      font-size: 20px;
    }
    .experience-container{    /*WORK EXPERIANCE I HAVE*/
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      h5{
        margin-left: 10px;
      }
      p{
        margin-left: 10px;
        font-size: 20px;
      }
    }
    .contact{             /*PICTURES WITH LINKS TO SOME SOCIALS*/
      padding: 25px;
    }
  }